.Photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 0px #777, 0px 1px 5px 0px #777;
}
.cart img {
  padding: 7px;
  border-radius: 10px;
}
.cart-body {
  padding: 7px;
}
.cart-body h4 {
  padding-bottom: 5px;
}
.cart-body p {
  font-size: 13px;
}
